## Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

In [ ]:
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [5]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## Problem 2: Print the following pattern.

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [7]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## Problem 3:Write a program to print the following pattern

In [ ]:
    *
  * * *
* * * * *

In [5]:
def full_pyramid(n):
    for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end="")
        
        for k in range(1, 2*i):
            print("*", end="")
        print()
   
full_pyramid(3)

  *
 ***
*****

## Problem 4:Write a program to print the following pattern

In [ ]:
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:

In [ ]:
1 + x^2/2 + x^3/3 + â€¦ x^n/n
n will be provided by the user

In [24]:
def SUM(x, n):
	total = 1
	for i in range(1, n + 1):
		total = total + ((x**i)/i)
	return total 

x = 2
n = 7
s = SUM(x, n)
print(round(s, 2))

47.02

## Problem 6: The natural alogarithm can be approximated by the following series.

In [ ]:
If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [26]:
n=int(input("Enter the number of terms: "))
sum1=0
for i in range(1,n+1):
    sum1=sum1+(1/i)
print("The sum of series is",round(sum1,2))

Enter the number of terms:  7

The sum of series is 2.59

## Problem 7 - Find the sum of the series upto n terms Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

In [ ]:
Example 1:

Input:

5
Output:

2+22+222+2222+22222
Sum of above series is: 24690

In [5]:
number_of_terms = 5
sum1=0
for i in range (1, number_of_terms + 1):
    sum1 += int('2' * i)
print(sum1)

24690

## Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
Output:

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3

## Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [9]:
def decToBinary(n):
    
    binaryNum = [0] * n

    i = 0;
    while (n > 0): 

        binaryNum[i] = n % 2
        n = int(n / 2)
        i += 1

    for j in range(i - 1, -1, -1):
        print(binaryNum[j], end = "")

n = 17
decToBinary(n)

10001

## Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [11]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

HCF = 1

for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        HCF = i

print("First Number is: ",a)
print("Second Number is: ",b)

LCM = int((a*b)/(HCF))
print("LCM of the two numbers is: ",LCM)

Enter the first number:  12
Enter the second number:  18

First Number is:  12
Second Number is:  18
LCM of the two numbers is:  36

## Problem 11: Create Short Form from initial character Given a string create short form ofthe string from Initial character. Short form should be capitalised

In [ ]:
Example:

Input:
Data science mentorship program

output
DSMP

In [21]:
def fxn(stng):

	oupt = stng[0]
	
	for i in range(1, len(stng)):
		if stng[i-1] == ' ':
		
			oupt += stng[i]
			
	oupt = oupt.upper()
	return oupt

inpt1 = "Data science mentorship program"

print(fxn(inpt1))

DSMP

## Problem 12: Append second string in the middle of first string

In [ ]:
Input:

campusx
data

In [10]:
print("campusx" + "data")

campusxdata

## Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

In [ ]:
Given:

str1 = PyNaTive

Expected Output:

yaivePNT

## Problem 14:Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

In [ ]:
Input:

hel123O4every093

Output:

Sum: 22
Avg: 2.75

In [44]:
input_str = "hel123O4every093"

numbers = ''.join((ch if ch in '12304093' else ' ') for ch in input_str)
numbers_list = [int(i) for i in numbers.split()]

print(f"Extracted numbers: {numbers_list}")
print(f"Sum: {sum(numbers_list)}, Average: {sum(numbers_list)/ len(numbers_list)}")

Extracted numbers: [123, 4, 93]
Sum: 220, Average: 73.33333333333333

## Problem 15: Removal of all characters from a string except integers

In [51]:
str1 = "Iam25yearsand10monthsold"
print("The given string is:")

print(str1)

print("Removing all the characters except digits")
print(''.join(i for i in str1 if i.isdigit()))

The given string is:
Iam25yearsand10monthsold
Removing all the characters except digits
2510

## Problem 16: Check whether the string is Symmetrical. Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

In [ ]:
Example 1:

Input

khokho
Output

The entered string is symmetrical

In [19]:
def check_sym(string):
    n=len(string)
    flag=0
    if n%2:
        mid=n//2+1
    else:
        mid= n//2
    start=0
    end= mid
    while(start <mid and end<n):
        if(string[start]== string[end]):
            start= start+1
            end= end+1
        else:
            flag=1
            break
    if flag==0:
        print("symmetrical")
    else:
        print("not symmetrical")

# main
s= "khokho"
print (s)
check_sym(s)
s2= "khokho"
print(s2)
check_sym(s2)

khokho
symmetrical
khokho
symmetrical

## Problem 17: Reverse words in a given String Statement: We are given a string and we need to reverse words of a given string.

In [ ]:
Example 1:

Input:

geeks quiz practice code
Output:

code practice quiz geeks


Example 2:

Input:

my name is laxmi
Output:

laxmi is name my

In [17]:
string = "geeks quiz practice code"

s = string.split() [::-1]
l = []
for  i in s:
    l.append(i)
print(" ".join(l))

code practice quiz geeks

In [23]:
string = "my name is laxmi"

s = string.split() [::-1]
l = []
for i in s:
    l.append(i)
print(" ".join(l))

laxmi is name my

## Problem 18: Find uncommon words from two Strings.Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

In [ ]:
Example 1:

Input:

A = "apple banana mango" 
B = "banana fruits mango"
Output:

['apple', 'fruits']

In [20]:
def UncommonWords(A, B):

	count = {}

	for word in A.split():
		count[word] = count.get(word, 0) + 1

	for word in B.split():
		count[word] = count.get(word, 0) + 1

	return [word for word in count if count[word] == 1]

A = "apple banana mango"
B = "banana fruits mango"

print(UncommonWords(A, B))

['apple', 'fruits']

## Problem 19: Word location in String.Statement: Find a location of a word in a given sentence.

In [ ]:
Example 1:

Input:

Sentence: We can learn data science through campusx mentorship program.

word: campusx
Output:

Location of the word is 7.
Note- Don't use index/find functions

In [21]:
import re
test_str = 'We can learn data science through campusx mentorship program'

print("The original string is : " + test_str)
 
wrd = 'campusx'

test_str = test_str.split()
res = -1
for idx in test_str:
	if len(re.findall(wrd, idx)) > 0:
		res = test_str.index(idx) + 1

print("The location of word is : " + str(res))

The original string is : We can learn data science through campusx mentorship program
The location of word is : 7

## Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [22]:
string="sweetmemories"
p=""
for char in string:
    if char not in p:
        p=p+char
print(p)
k=list("sweetmemories")

swetmori