**1)join tuples if similar initial element**

In [25]:
test_list=[(5,6),(5,7),(6,8),(6,10),(7,13)]
print("the original list is:"+str(test_list))
res=[]
x=[]
for i in test_list:
    if i [0] not in x:
        x.append(i[0])
for i in x:
    p=[]
    p.append(i)
    for j in test_list:
        if i == j[0]:
             p.append(j[1])
             res.append(p)
print("the extracted elements:"+str(res))

the original list is:[(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
the extracted elements:[[5, 6, 7], [5, 6, 7], [6, 8, 10], [6, 8, 10], [7, 13]]

**2)multiply adjacent elements (both side) and take sum of right and left side multiplication result**

In [1]:
test_tup=(1,5,7,8,10)
print("the original tuple:"+str(test_tup))
res=tuple(i*j for i,j in zip(test_tup,test_tup[1:]))
print("resultant tuple after multiplication:"+str(res))

the original tuple:(1, 5, 7, 8, 10)
resultant tuple after multiplication:(5, 35, 56, 80)

**3) check is tuples are same or not**

In [12]:
t1={1,2,3,0}
t2={6,7,8,9}

if t1 == t2:
    print("the two tuples are same")
else:
    print("the two tuples are not same")

the two tuples are not same

**4) count no of tuples,list and set from a list**

In [16]:
list=[1,2,3,4,5]
set={11,12,13,14,15}
tuple=(100,200,300,400)

print(len(list))
print(len(set))
print(len(tuple))

5
5
4

**5)shortlist students for a job role**

In [28]:
student1={
   "name": "manohar",
   "education": "B.tech",
   "skill": "python",
   "year of graduation":"2022",
}
student2={
   "name": "ponian",
   "education": "B.Sc",
   "skill":"C++",
   "year of education": "2020",
}
print(student1)
print(student2)

{'name': 'manohar', 'education': 'B.tech', 'skill': 'python', 'year of graduation': '2022'}
{'name': 'ponian', 'education': 'B.Sc', 'skill': 'C++', 'year of education': '2020'}